<!DOCTYPE html>
<html>
<head>
<title>Angularjs</title>



<script src="https://code.angularjs.org/1.5.5/angular.min.js"></script>
<script src="https://code.angularjs.org/1.5.5/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src='script.js'></script>





<body>

<div ng-app="myapp" ng-controller='logController' class="jumbotron text-center">
    <div ng-if='isShow1'>
        <a href="#/Add_student">Add student</a> |
        <a href="#/Moniter">Moniter</a> |
        <a href="#/logout" ng-click='logout()'>logout</a>
        
    </div>
    <div ng-if='isShow2' ng-view=""></div>
    <div ng-if='isShow3'  >  
        <input type='text' placeholder='username' ng-model='username'/><br/>
        <input type='password' placeholder='password' ng-model='password'/><br/>
        <button ng-click='LOGIN();'>login</button>
        <button ng-click='signup()'>Sign Up</button> 
    </div>
    
</div>

</body>
</html>